<h3><%= @friend.name %></h3>
<form action="/friends/<%= @friend.id %>/save" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    
    <% @friend.gifts.each do |gift| %>
    <h4><%= gift.name %></h4>
    <input type="checkbox" name="friend[gift_ids][]" value="<%=gift.id%>">Gift has been purchased.<br>
    <a href="/gifts/:id/delete">Delete Gift</a>
    <br>
    <% end %>
    <br>
    <input type="submit" value="submit" name="submit">
</form>

